
/* Home Page Styling */
.main-logo{
	background: url(/static/img/logo.png) no-repeat;
	background-size: 75% 75%;
	background-position: center center;
	height: 350px;
	/* border-bottom: 1px solid #dbdbdb; */
}

.home-tagline{
	position: relative;
	left: 10%;
	margin: 0 auto;
}

.home-container{
	/* background-color: #0066CC; */
	max-width: 90%;
}

.home-tagline h1{
	font-size: 35px;
	font-weight: bold;
	color: #428BCA;
}

.home-tagline p{
	font-size: 35px;
	padding-left: 10px;
}

.home-tagline li{
	display: inline-block;
}

.container-wwa img{
	height: 550px;
	max-width: 100%;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
}

.container-wwa h1{
	font-size: 50px;
	padding-left: 20px;
	padding-top: 10px;
	color: #428BCA;
}

.container-wwa p{
	font-size: 20px;
	padding: 20px 20px 20px 20px;
}

.container-fp h1{
	font-size: 50px;
	padding-left: 20px;
	padding-top: 10px;
	color: #428BCA;
}

.container-fp p{
	font-size: 20px;
	padding: 20px 20px 20px 20px;
}

#carousel-fp{
	height: 325px;
	width: 100%;
	float: right;
	margin-top: 50px;
}

#dl4main{
	height: 250px;
	width: auto;
	margin: 9% auto;
}

#sspcb{
	height: 250px;
	width: auto;
	margin: 9% auto;
}


/* End Home Page Styling */

#smartswitchjumbo{
  background-color:#FFFFFF;
  color: black;
  border: 2px solid #428BCA;
}

#smartswitchmainimg{
	width: 500px;
	max-width: 100%;
	margin-bottom: 10px;
}

.rightpic{
	width: 200px;
	max-width: 100%;
	margin: 10px;
}

.panel-danger{
	height: 350px;
}

.youtube{
    height: 250px;
    width: 100%;
    margin: 0 auto;
}

#navbar-logo{
  width: 150px;
  margin: 5px 20px 0px 0px;
  float: right;
}

.aboutimg{
  float: right;
  width: 200px;
  max-width:45%;
  margin: 20px;
}

.aboutimg-ben{
  float: right;
  height: 200px;
  max-width:45%;
  margin: 20px;
}


.text-primary {
  color: #428bca;
}

.text-primary:hover { /*Overriding bootstrap hover*/
  color: #428bca;
}



ul{
  -webkit-padding-start: 30px;
}

ul  ul{
  -webkit-padding-start: 10px;
}
