<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="col-md-12">
	<p class="lead">This is the home of Schoolcraft Specialties. Brian loves men, Joe is probably the coolest, and Ben is...Ben.</p>
	
	<!--Brian's Panel-->
	<div class="panel panel-primary">
		<div class="panel-heading lead">
			Brian Schoolcraft
		</div>
		<div class="panel-body">
			<img src="static/img/brian.jpg" height="350" align="right">
			<p>I'm reaaaallllly gay.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit hendrerit tellus sit amet posuere. Cras convallis eleifend aliquet. Aliquam varius a sem in imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse placerat felis ultricies purus hendrerit venenatis. Integer at lacus ac mi pharetra hendrerit. Donec vitae dolor iaculis, fringilla mi quis, accumsan sapien.</p>
			<p>Quisque at purus dignissim, vulputate nisl vel, sollicitudin dui. Fusce dapibus orci dapibus libero varius commodo. Nam sapien sapien, vestibulum eget mi at, sollicitudin lobortis elit. Pellentesque magna risus, feugiat id diam id, porttitor adipiscing dolor. Quisque eget vestibulum urna, in adipiscing leo. Nunc eget rhoncus metus. Praesent et tincidunt risus, porttitor condimentum urna. Sed eu urna sit amet purus commodo condimentum semper et metus. Donec ac nulla vitae nisl adipiscing euismod vitae quis lacus. Nam vel enim ac felis ultricies placerat a id massa. Vivamus massa odio, iaculis sit amet magna ut, malesuada tempus eros. Ut ac libero feugiat, iaculis sem sit amet, iaculis massa. Etiam et erat eleifend, varius risus non, vestibulum metus. Nam tempor, eros sit amet tristique venenatis, augue magna sollicitudin diam, sed congue urna mi ac turpis. Sed non consequat nibh, a tristique odio.</p>		
		</div>
		<div style="clear: both"></div>
	</div>
	
	<!--Joe's Panel-->
	<div class="panel panel-primary">	
		<div class="panel-heading lead">
			Joe Schoolcraft
		</div>
		<div class="panel-body">
			<img src="static/img/joe.jpg" width="275" align="right">
			<p>Joe is currently a full time student at Purdue University where he studies things.
			</p>
			<p>Quisque at purus dignissim, vulputate nisl vel, sollicitudin dui. Fusce dapibus orci dapibus libero varius commodo. Nam sapien sapien, vestibulum eget mi at, sollicitudin lobortis elit. Pellentesque magna risus, feugiat id diam id, porttitor adipiscing dolor. Quisque eget vestibulum urna, in adipiscing leo. Nunc eget rhoncus metus. Praesent et tincidunt risus, porttitor condimentum urna. Sed eu urna sit amet purus commodo condimentum semper et metus. Donec ac nulla vitae nisl adipiscing euismod vitae quis lacus. Nam vel enim ac felis ultricies placerat a id massa. Vivamus massa odio, iaculis sit amet magna ut, malesuada tempus eros. Ut ac libero feugiat, iaculis sem sit amet, iaculis massa. Etiam et erat eleifend, varius risus non, vestibulum metus. Nam tempor, eros sit amet tristique venenatis, augue magna sollicitudin diam, sed congue urna mi ac turpis. Sed non consequat nibh, a tristique odio.
			pizza king is pretty good. But I think pizza hut might be tastier, just more grease. Pizza Hut sucks according to Chuck. Local Linton Movie theater. Cally Owen is aweseome! I need to go to church. I don't know why theaters are goodrich quality. I'm tired of finding stuff to right about.
			So, now I'm going to write about song lyrics.
			Rap: I'm awesome and bettererrer than u. I are the best. Pop: Yaaaaaaaaaahhhhhhhhh parrrrrtyyyyy yeayyyhhahdshhfashdfasdhfhasdhfahsdfh d ljh;fl;kajsdf;lkajsd;lfkjas;dlf</p>
			<p>Well, now at least we know that the text will wrap around the bottom of the picture.</p>
			<p>stupid html slashes to end friggin tags drive me nuts</p>
		</div>
		<div style="clear: both"></div>
	</div>
	
	<!--Ben's Panel-->
	<div class="panel panel-primary">
		
		<div class="panel-heading lead">
			Ben Schoolcraft
		</div>
		<div class="panel-body">
			<img src="static/img/ben.jpg" width="300" align="right">
			<p>I'm reaaaallllly gay.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit hendrerit tellus sit amet posuere. Cras convallis eleifend aliquet. Aliquam varius a sem in imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse placerat felis ultricies purus hendrerit venenatis. Integer at lacus ac mi pharetra hendrerit. Donec vitae dolor iaculis, fringilla mi quis, accumsan sapien.</p>
			<p>Quisque at purus dignissim, vulputate nisl vel, sollicitudin dui. Fusce dapibus orci dapibus libero varius commodo. Nam sapien sapien, vestibulum eget mi at, sollicitudin lobortis elit. Pellentesque magna risus, feugiat id diam id, porttitor adipiscing dolor. Quisque eget vestibulum urna, in adipiscing leo. Nunc eget rhoncus metus. Praesent et tincidunt risus, porttitor condimentum urna. Sed eu urna sit amet purus commodo condimentum semper et metus. Donec ac nulla vitae nisl adipiscing euismod vitae quis lacus. Nam vel enim ac felis ultricies placerat a id massa. Vivamus massa odio, iaculis sit amet magna ut, malesuada tempus eros. Ut ac libero feugiat, iaculis sem sit amet, iaculis massa. Etiam et erat eleifend, varius risus non, vestibulum metus. Nam tempor, eros sit amet tristique venenatis, augue magna sollicitudin diam, sed congue urna mi ac turpis. Sed non consequat nibh, a tristique odio.</p>
		</div>
		<div style="clear: both"></div>
	</div>
	
</div>


{% endblock %}