
{% extends "base.html" %}

{% block content %}
<div class="col-md-12">
	<p class="lead">This is the home of Schoolcraft Specialties.</p>
	
  	
	<!--Main Panel-->
  
	<div class="panel panel-primary">	
		<div class="panel-heading lead">
			Who we are...
		</div>
		<div class="panel-body">
			<img src="static/img/brothers2.jpg" class="aboutimg">
			  <p>
			  We're three brothers that were raised in the country south of Indianapolis by a couple of engineers. Growing up together in a rural 
			  environment gave us the encouragement that we needed to start doing projects for fun. There weren't that many other kids around, and 
			  there definitely wasn't a bustling metropolis full of fun things to do anywhere nearby, so we had to come up with ways to avoid boredom 
			  on our own. This was quite possibly the best thing that could have happened to us.
			  </p>
			  
			  <p>
			  We created this website to host some of the projects that we have done together over the past couple of years and hopefully years to come.
			  Some of the more polished products we have up for sale, although we try and provide enough info for the ambitious to figure it out on their own. 
			  Our intentions are to eventually be able to support our families by operating our own engineering business further on down the road. 
			  We figured the best way to get our feet in the door would be to start off small doing open-source projects to try and give back to the DIY
			  community that has given us so much inspiration.
			  </p>
			  
			  <p>
			  We currently are not an official organization yet (Inc., Co., etc.), however we are looking into pursuing an LLC title in the near future.
			  </p>
			  
			  <p>
			  Want to get to know us more? Check out more of our personal hobbies and interests below. Or take a look at our blog with more projects on it
			  <a href="http://sonsofinvention.wordpress.com/" target="_blank">here</a>. Thanks for visiting Schoolcraft Specialties!
			  </p>
			  
				</div>
				<div style="clear: both"></div>
	</div>
  
	<!--Brian's Panel-->
	<div class="panel panel-primary">
		<div class="panel-heading lead">
			Brian Schoolcraft
		</div>
		<div class="panel-body">
			<img src="static/img/brian.jpg" class="aboutimg">
			
			<p>
			Even at young age, Brian was a tinkerer. From playing with Legos, making automatic rubber band shooters with his K'nex set, or building ziplines in our barn, 
			Brian has always been working on something. Now, Brian's projects are a little bigger, but his passion for design has only grown. As a senior in college, he designed a prosthetic leg for a young boy 
			who was a friend of the family; the new leg allowed the boy to ride a bicycle for the first time.
			</p>
			
			<p>
			Brian Schoolcraft has a bachelor's degree from Purdue University in Mechanical Engineering, and he is currently employed as an advanced design engineer
			at Allison Transmission. He and his wife, Amanda, enjoy tending llamas, runner ducks, guineas, peacocks, a great dane, and even a parrot at their home in rural Indiana. In his spare time, 
			Brian has slowly amassed the beginnings of a solid machine shop, including a mid-sized lathe with an in-house designed digital read out and a project mill that he has 
			been repairing by fabricating the parts for it in his garage.
			</p>
			
			<p>
			Beyond engineering, Brian serves his community through various facets including volunteering and leading small groups at his church.
			</p>
		</div>
		<div style="clear: both"></div>
	</div>
	
	<!--Joe's Panel-->
	<div class="panel panel-primary">	
		<div class="panel-heading lead">
			Joe Schoolcraft
		</div>
		<div class="panel-body">
			<img src="static/img/joe.jpg" class="aboutimg">

      <p><b>Occupation:</b> Full time student, part time coder/solderer</p>
      <p><b>Special Powers:</b> Face melting solos, high tolerance to solder fumes, HULK SMASH!</p>
      <p><b>Unique behaviors:</b> Takes great pleasure pushing buttons and making LEDs blink.</p>
      <p><b>Known weaknesses:</b> Incapable of engaging in normal conversation when a guitar is within reach.</p>
      
      <p>
	  Joe's currently at Purdue University studying Acoustical and Electrical Engineering. He's big into music, spending most of his free time honing 
	  his guitar skills and staying sharp on the piano and violin. He puts those talents to use every week as the lead guitarist in our church worship band.</p>
    <p>As a combination of his education and his passion, he's dove headfirst into effects 
	  pedals for electric guitars, designing several boutique guitar pedals using a unique conbination of microcontroller based inputs and logic with pure analog audio circuits.
	  </p>
      
		</div>
		<div style="clear: both"></div>
	</div>
	
	<!--Ben's Panel-->
	<div class="panel panel-primary">
		
		<div class="panel-heading lead">
			Ben Schoolcraft
		</div>
		<div class="panel-body">
			<img src="static/img/ben.jpg" class="aboutimg-ben">
			<p>Ben is the youngest of the Schoolcraft clan. Currently finishing up his junior year in high school, he's decided to skip town and head to college so he gets an extra year to live with Joe and our sister Amanda in West Lafayette. He's settled on engineering as a major, but the specific discipline is still a little up in the air. With a strong aptitude and a care free attitude, we're looking forward to seeing his role in our little partnership fully develop.</p>
      
      <p>Besides the nerdy stuff, Ben was a state qualifier this year in wrestling, and plays the bass in his church's worship band. Check out some of his matches <a href="{{url_for('benwrestling')}}">here</a>.</p>
		</div>
		<div style="clear: both"></div>
	</div>
	
</div>


{% endblock %}