<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<!--This is how you change somethings color: style="background-color: #428BCA" -->

<div class"col-md-12">
	<div class="row">
		<div class="col-md-12">
			<img src="static/img/bar_end_header.jpg" style="margin-bottom: 20px; border-radius:6px">
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading lead">Heavy Stainless Steel Bar Ends</div>
				<div class="panel-body">
					
					<p>
             Tired of your hands going numb from the "buzz" in your bars? These weighted bar ends increase the mass of your handle bar, killing the high frequency buzz that leads to fatigue and numbness. Heavy bar ends rock!
					</p>
					<!--How to make a link open in a new tab: (inside an a tag: target="_blank"-->
					
				</div>
			</div>
		</div>
	</div>
	
</div>


{% endblock %}