<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<!--This is how you change somethings color: style="background-color: #428BCA" -->

<div class"col-md-12">
	<div class="row">
		<div class="col-md-12">
			<img src="/static/img/bar_end_header.jpg" style="margin-bottom: 20px; border-radius:6px">
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading lead">Heavy Stainless Steel Bar Ends</div>
				<div class="panel-body">
					
					<p>
             Tired of your hands going numb from the "buzz" in your bars? These weighted bar ends increase the mass of your handle bar, killing the high frequency buzz that leads to fatigue and numbness.
					</p>
					
				</div>
			</div>
    </div>
      
		<div class="col-md-5">
      <div class="panel panel-default">
				<div class="panel-heading lead">How to Buy</div>
				<div class="panel-body">
					
					<p>
             Since this is a small operation, I work with an order list. First you tell me what you want, then I go out to the garage and make it. When I've got them ready to ship, I'll send you an email requesting payment. This way I never have your money with nothing to show for it.
					</p>
          
          <a type="button" class="btn btn-primary" href="{{url_for('barend_orders')}}">Place Your Order!</a>
					
				</div>
			</div>
		</div>
	</div>
	
</div>


{% endblock %}