<!DOCTYPE HTML>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48211942-1', 'schoolcraftspecialties.com');
  ga('send', 'pageview');

</script>

<html>
  <head>
    {% if title %}
    <title>{{title}} - Schoolcraft Specialties</title>
    {% else %}
    <title>Schoolcraft Specialties</title>
    {% endif %}
    
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body id="{%if page_id %}{{page_id}}{%else%}none{% endif %}">
     <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('index')}}">Home </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            
			
			
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
              <ul class="dropdown-menu">
				<li><a href="{{url_for('about')}}">About Us</a></li>
                <li> <a href="{{url_for('benwrestling')}}">Ben's Wrestling</a></li>
              </ul>
            </li>
			
			
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li> <a href="{{url_for('smartswitch')}}">The Smart Switch for the Line 6 DL4</a></li>
                <li> <a href="{{url_for('barends')}}">Stainless Steel Motorcycle Bar Ends</a></li>
              </ul>
            </li>
			
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Testing Grounds<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li> <a href="{{url_for('joetest')}}">Test your code here, Joe</a></li>
				<li> <a href="{{url_for('briantest')}}">Test your code here, Brian</a></li>
              </ul>
            </li>
			
          </ul>

		  
          <ul class="nav navbar-nav navbar-right">
			<img src="static/img/logonavbar.png" class="img-rounded" width="175" align="right" style="margin: 0px 75px 0px 0px">
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      <div class="row">
        <div class="span12">
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>