<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="well">
  <h2>Ben's Wrestling</h2>
  <iframe width="882" height="496" src="//www.youtube.com/embed/VMz08jRjr4M" frameborder="0" allowfullscreen></iframe>
  <iframe width="882" height="496" src="//www.youtube.com/embed/ff4JSIS3x2Y" frameborder="0" allowfullscreen></iframe>
  <iframe width="882" height="496" src="//www.youtube.com/embed/HCVufCCfrtk" frameborder="0" allowfullscreen></iframe>
  <iframe width="882" height="496" src="//www.youtube.com/embed/iXpJbPM6aVw" frameborder="0" allowfullscreen></iframe>
  <iframe width="882" height="496" src="//www.youtube.com/embed/YmUPMEDjVM8" frameborder="0" allowfullscreen></iframe>
</div>


{% endblock %}