
{% extends "base.html" %}

{% block content %}

<div class="col-md-12">
	<!--Title Jumbotron-->
	<div class="main-logo">
	</div>
	<div>
		<div class="home-container">
			<div class="home-tagline">
				<ul>
					<li>
						<h1>Our&nbsp;Projects, Our&nbsp;Passion:</h1>
					</li>
					<li>
						<p>Welcome&nbsp;to Schoolcraft&nbsp;Specialties</p>
					</li>
				</ul>
				<!-- <div style="clear: both"></div> -->
			</div>
		</div>
	</div>
	<!-- <div class="info-place">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h2>Who We Are</h2>
					<img src="static/img/brothers2.jpg">
				</div>
				<div class="col-md-4">
					<h2>What We Do</h2>
					<img src="/static/img/bar_end_header.jpg">
				</div>
				<div class="col-md-4">
					<h2>Featured Product</h2>
					<img src="static/img/dl4main.jpg">
				</div>
			</div>
		</div>
	</div> -->
</div>
{% endblock %}