<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<!--This is how you change somethings color: style="background-color: #428BCA" -->

<div class="row">
  <div class="col-xs-12 col-sm-4 panel" style="background-color: red" [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row{
    overflow: hidden; 
}>
  some content
  </div[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row{
    overflow: hidden; 
}>
  <div class="col-xs-6 col-sm-4 panel" style="background-color: yellow" [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row{
    overflow: hidden; 
}>
  kittenz
  <img src="http://placekitten.com/100/100" [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row{
    overflow: hidden; 
}>
  </div>
  <div class="col-xs-6 col-sm-4 panel" style="background-color: blue">
  some more content
  </div>
</div>



{% endblock %}