{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block content %}

<div class="well">
    <h3>Please Sign In</h3>
    {% call macros.render_form(form, action_url=url_for('login'), 
                                action_text='Login',
                                class_='form-horizontal',
                                btn_class="btn btn-primary",
                                name_='login') %}
        {{ macros.render_field(form.username, label_visible=true, placeholder='username', type='text') }}
        {{ macros.render_field(form.password, label_visible=true, placeholder='password', type='password') }}
        {{ macros.render_checkbox_field(form.remember_me) }}
        <br>
    {% endcall %}
</div>
{% endblock %}
