
{% extends "base.html" %}

{% block content %}

<div class="well">
    <form class="form-horizontal" action="" method="post" name="order">
        {{form.hidden_tag()}}
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="email">Your email:</label>
            <div class="controls">
                {{ form.email(maxlength = 64, class = "span6") }}
                {% for error in form.errors.email %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        {{form.hidden_tag()}}
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="email2">Please reenter your email:</label>
            <div class="controls">
                {{ form.email2(maxlength = 64, class = "span6") }}
                {% for error in form.errors.email %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="comments">Is there anything else you'd like us to know?</label>
            <div class="controls">
                {{ form.comments(maxlength = 500, class = "span6") }}
            </div>
        </div>
        <br>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Place Order">
            </div>
        </div>
    </form>
</div>
{% endblock %}