<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<!--This is how you change somethings color: style="background-color: #428BCA" -->

<div class"col-md-12">
	<div class="row">
		<div class="col-md-12">
			<img src="static/img/dl4.png" style="margin-bottom: 20px">
		</div>
	</div>
	
	<div class="row">
	<!--Mod overview Panel-->
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading lead">Mod Overview</div>
				<div class="panel-body">
					
					<p>
					The DL4 Smart Switch gives you the ability to convert quarter notes to dotted eighth notes on any delay setting at any time. On top of that, you
					also get the option to switch quickly between two presets per delay type without the need of an external expression pedal.
					</p>
				
					<p>
					The Smart Switch mod involves installing a new footswitch on the DL4 that is connected to the Smart Switch circuit board inside of the pedal.
					When you tap in quarter notes on the new switch they are converted into dotted eighth notes and sent to the DL4 via the Smart Switch circuit. 
					Another feature, the Double Preset Mod, provides the ability to simulate having an expression pedal plugged into the DL4. By pressing and holding the 
					new footswitch down for about 1 second, the Smart Switch circuit will simulate you moving the expression pedal from the heel down position to the toe down 
					position or vice-versa. This allows you to have two different presets per delay type.
					</p>
					
				</div>
			</div>
		
		</div>
		
		<!--Mod Pricing Panel-->
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading lead">Mod Kit and Pricing</div>
				<div class="panel-body">
					<img src="static/img/smartswitch.jpg" align="right" height="200" style="margin: 0px 10px 15px 10px">
					<p><h4>Logistics:</h4></p>
					<p>
					<ul>
						<li>Kit includes all necessary parts and wire</li>
						<li>Kit comes with installation and use manual</li>
						<li class="text-danger"><b>We are not responsible for damage done to your pedal</b></li>
					</ul>
					</p>
					<p><h4>Kit Pricing:</h4></p>
					<ul>
						<li>Full Kit: $50.00 USD</li>
						<li class="text-success">Beta Testers (first six): <i>$25.00 USD</i></li>
						<p></p>
					<!--How to make a link open in a new tab: (inside an a tag: target="_blank"-->
					</ul>
					<div class="row">
						<div align="left" class="col-md-6">
							<a href="static/doc/SmartSwitchManual 09-13.pdf" target="_blank">Download the Installation Manual here<a/>
						</div>
						<div class="col-md-6" align="center">
							<a class="btn btn-primary btn-default active" href="mailto:joe@schoolcraftspecialties.com?subject=Smart Switch Order"><font color="white">Order Now by Email</font></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading lead">Demo Videos</div>
		
		<div class="panel-body">
			<iframe width="560" height="315" src="//www.youtube.com/embed/lvSlT5l2MBE?rel=0" frameborder="0" allowfullscreen></iframe>
	  
			<iframe width="560" height="315" src="//www.youtube.com/embed/mjlx8rT_3zA?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
		
	</div>
	
</div>


{% endblock %}