
{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block content %}
<div class="well">
  <div class="row">
    <div class="col-sm-8">
      <h3>How this works:</h3>
      <p>Since this is a small operation, we're not taking your money right away. Place your order, and we'll get back with you to confirm that
      we've got your kit in stock and ask for payment at that time. Thanks for your interest!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="col-sm-8">
        {% call macros.render_form(form, action_url=url_for('smartswitch_order'), 
                                    action_text='Place Order',
                                    class_='form-horizontal',
                                    btn_class="btn btn-primary",
                                    name_='order') %}
            {{ macros.render_field(form.email, label_visible=true, placeholder='you@email.com', type='email') }}
            {{ macros.render_field(form.email2, label_visible=true, placeholder='you@email.com', type='email') }}
            {{ macros.render_field(form.comments, label_visible=true, placeholder='Comments?', type='text') }}
            <br>
        {% endcall %}
      </div>
    </div>
  </div>
</div> 

{% endblock %}